section.content-13.subscribe-form.bg-turquoise
  .container
    .row
      form
        .col-sm-8
          h3  Unlock the value of your data with Cognos        
        .col-sm-4
          a.button.btn.btn-large.btn-primary(href="mailto:just@assignittous.com?Subject=Cognos Services Request")
            | Request a Demo