section.content-26.bg-clouds
  .container
    .row
      .col-sm-10.col-sm-offset-1
        h3 Cognos Solutions             
        p.lead
          | Knodeo was designed to be easily deployed in your infrastructure. 
          | With Linux/Unix based servers, our automated installation process makes it a snap to deploy the base Knodeo platform.
          | We can install it on a server you provision, but Knodeo works in other 
          | deployment scenarios as well.        
    .row.features
      .col-sm-3
        img(src='/_assets/icons/appliance.png', alt='', width='100', height='100')                
        h6 Reporting
        | Instead of having to provision your own server, we can provide you with a drop-in server appliance sized for your company's needs.            
      .col-sm-4.col-sm-offset-1
        img(src='/_assets/icons/virtual_appliance.png', alt='', width='100', height='100')                
        h6 Analytics
        | If you have a VMWare or Virtualbox environment, we can provide you with a drop-in virtual appliance.
        | If you're using another type of virtualized environment, we can help you create a virtual server image.            
      .col-sm-3.col-sm-offset-1
        img(src='/_assets/icons/cloud_appliance.png', alt='', width='100', height='100')
        |                 
        h6 Dashboarding
        | Knodeo is easily deployed on a server in the cloud with a provider such as Amazon Web Services, Rackspace Cloud, Microsoft Azure, or Linode.

