section.header-1-sub
    #pt-main.page-transitions.pt-perspective
        .pt-page.pt-page-1 
          .background &nbsp;
          .caption
            .container
              h3 Cognos                  
              p.lead We'll use our extensive know-how to help you get where you need to be.       





