section.content-35
  ul.content-35-customPager
    p Industries
    li.menuicon
      span.fui-list(aria-hidden='true')           
    li
      a(data-slide-index='0') Manufacturing           
    li
      a(data-slide-index='1') Automotive          
    li
      a(data-slide-index='2') Healthcare   
    li
      a(data-slide-index='3') Retail           
    li
      a(data-slide-index='4') Food          
    li
      a(data-slide-index='5') Public             
            
  ul.content-35-slider
    li.content-35-slider-item
      .background.bread
        .container
          .row
            .col-sm-4
              div
                img(src='/_assets/images/content/bread.jpg', alt='')             
      .container
        .row
          .col-sm-5.col-sm-offset-5
            h2 Manufacturing                  
            p.lead
              | The most important parts of the Startup Framework are Samples and the UI Kit that includes a set of different components. The samples consist of a set of 25 pages.                  
            .row.columns
              .col-sm-6
                a(href='#')
                  img(src='/_assets/images/content/thumbnail-crumbs.jpg', alt='')                         
                  b
                    strong Crumbs                                        
                    span.svgIcon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', width='16', height='16', viewbox='0 0 32 32')
                        path(d='M30 0h-16c-1.105 0-2 0.894-2 2v16c0 1.105 0.895 2 2 2h16c1.105 0 2-0.895 2-2v-16c0-1.105-0.895-2-2-2zM28 16h-12v-12h12v12zM16 28h-12v-12h4v-4h-6c-1.105 0-2 0.895-2 2v16c0 1.105 0.894 2 2 2h16c1.105 0 2-0.895 2-2v-6h-4v4z', fill='#eaeaea')                        
                  span
                    | Fresh food, delicious desserts, artisan breads and cozy atmosphere. All at one place.                     
              .col-sm-6
                a(href='#')
                  img(src='/_assets/images/content/thumbnail-hipstafood.jpg', alt='')                        
                  b
                    strong Hipstafood                                         
                    span.svgIcon
                      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', width='16', height='16', viewbox='0 0 32 32')
                        path(d='M30 0h-16c-1.105 0-2 0.894-2 2v16c0 1.105 0.895 2 2 2h16c1.105 0 2-0.895 2-2v-16c0-1.105-0.895-2-2-2zM28 16h-12v-12h12v12zM16 28h-12v-12h4v-4h-6c-1.105 0-2 0.895-2 2v16c0 1.105 0.894 2 2 2h16c1.105 0 2-0.895 2-2v-6h-4v4z', fill='#eaeaea')                         
                  span
                    | Handy iPhone App preparing for the launch will show you recipes and teach you to cook.           
    li.content-35-slider-item
      .background.landscape
        .container
          .row
            .col-sm-4
              div
                img(src='/_assets/images/content/landscape.jpg', alt='')             
      .container
        .row
          .col-sm-5.col-sm-offset-5
            h2 Automotive                   
            p.lead
              | We prepared some HQ photos that you can use in your projects. When you have to present an app or website on iPhone, iPad or Macbook, these images are available. It&rsquo;s a quick solution if you don&rsquo;t have ready-to-use images.                  
            .row.columns
              .col-sm-6
                h3 Smart Layers                       
                p Just put the image with your App screen inside Smart Layer and get the photo.                     
              .col-sm-6
                h3 High Resolution                      
                p Photos are saved at a size of 2.5K and will work even for large sites.                  
            .contact
              | Photos for samples are made by 
              a(href='#') Anton Repponen
              |  during his travels around the world. Check out his amazing works!           
    li.content-35-slider-item
      .background.doc
        .container
          .row
            .col-sm-4
              div
                img(src='/_assets/images/content/documentation.jpg', alt='')            
      .container
        .row
          .col-sm-5.col-sm-offset-5
            h2 Healthcare                   
            p.lead
              | We will be glad to answer your questions. We strive to improve each Designmodo product and plan to release cool updates soon.                   
            a.ask-question(href='#') Ask a question                   
            dl.tech-info
              dt Release Date                     
              dd December 16, 2013                     
              dt Format                    
              dd PSD, HTML, CSS, JS, LESS                     
              dt Size                     
              dd 637 MB, Zip                    
              dt Consists|                     
              dd
                | Components
                br
                | 25 Samples                       
                br
                | Photos|                     
              dt Botstrap Version                    
              dd 3.0.3                     
              dt License                     
              dd Commercial License
    li.content-35-slider-item
      .background.doc
        .container
          .row
            .col-sm-4
              div
                img(src='/_assets/images/content/documentation.jpg', alt='')            
      .container
        .row
          .col-sm-5.col-sm-offset-5
            h2 Retail                   
            p.lead
              | We will be glad to answer your questions. We strive to improve each Designmodo product and plan to release cool updates soon.                   
            a.ask-question(href='#') Ask a question                   
            dl.tech-info
              dt Release Date                     
              dd December 16, 2013                     
              dt Format                    
              dd PSD, HTML, CSS, JS, LESS                     
              dt Size                     
              dd 637 MB, Zip                    
              dt Consists|                     
              dd
                | Components
                br
                | 25 Samples                       
                br
                | Photos|                     
              dt Botstrap Version                    
              dd 3.0.3                     
              dt License                     
              dd Commercial License              
    li.content-35-slider-item
      .background.doc
        .container
          .row
            .col-sm-4
              div
                img(src='/_assets/images/content/documentation.jpg', alt='')            
      .container
        .row
          .col-sm-5.col-sm-offset-5
            h2 Food                   
            p.lead
              | We will be glad to answer your questions. We strive to improve each Designmodo product and plan to release cool updates soon.                   
            a.ask-question(href='#') Ask a question                   
            dl.tech-info
              dt Release Date                     
              dd December 16, 2013                     
              dt Format                    
              dd PSD, HTML, CSS, JS, LESS                     
              dt Size                     
              dd 637 MB, Zip                    
              dt Consists|                     
              dd
                | Components
                br
                | 25 Samples                       
                br
                | Photos|                     
              dt Botstrap Version                    
              dd 3.0.3                     
              dt License                     
              dd Commercial License
    li.content-35-slider-item
      .background.doc
        .container
          .row
            .col-sm-4
              div
                img(src='/_assets/images/content/documentation.jpg', alt='')            
      .container
        .row
          .col-sm-5.col-sm-offset-5
            h2 Public                   
            p.lead
              | We will be glad to answer your questions. We strive to improve each Designmodo product and plan to release cool updates soon.                   
            a.ask-question(href='#') Ask a question                   
            dl.tech-info
              dt Release Date                     
              dd December 16, 2013                     
              dt Format                    
              dd PSD, HTML, CSS, JS, LESS                     
              dt Size                     
              dd 637 MB, Zip                    
              dt Consists|                     
              dd
                | Components
                br
                | 25 Samples                       
                br
                | Photos|                     
              dt Botstrap Version                    
              dd 3.0.3                     
              dt License                     
              dd Commercial License   