footer.footer-1.bg-midnight-blue
  .container
    .row
      .col-sm-5
        p.lead
          a.brand(href='#')
            img(src='/_assets/icons/aitu-logo-white.png', width='23', height='23', alt='AITU Logo')
            | AssignItToUs    
        | Assign It To Us was founded in 2012 by Vince Iarusci and Steven Ng. We are technology professionals with several years of experience in the field of business intelligence.<br>
        | If you're ready to start your project, we're here to help you.                         
        .social-btns
          a.social-btn-facebook.sharrre(href='https://www.facebook.com/assignittous', data-text='Make Better Business Decisions! -> Assign It To Us - http://assignittous.com', data-url='https://assignittous.com')
            .fui-facebook                      
            .fui-facebook                                    
          a.social-btn-twitter.sharrre(href='https://twitter.com/assignittous', data-text='Make Better Business Decisions! -> Assign It To Us - http://assignittous.com', data-url='https://assignittous.com')
            .fui-twitter                      
            .fui-twitter                
          a.social-btn-linkedin.sharrre(href='https://www.linkedin.com/company/assign-it-to-us', data-text='Make Better Business Decisions! -> Assign It To Us - http://assignittous.com', data-url='https://assignittous.com')
            .fui-linkedin                      
            .fui-linkedin    

      nav
        .col-sm-2.col-sm-offset-1
          h6 Categories                  
          ul
            li
              a(href='/about') About Us                        
            li
              a(href='/blog') Blog                                               
            li
              a(href='/contact') Contact Info
        .col-sm-2
          h6 Follow Us                     
          ul
            li
              a(href='https://www.facebook.com/assignittous') Facebook                        
            li
              a(href='https://twitter.com/assignittous') Twitter                        
            li
              a(href='https://www.linkedin.com/company/assign-it-to-us') LinkedIn           
      .col-sm-2.buy-btn
        a.btn.btn-success.btn-block(href='mailto:vince.iarusci@assignittous.com?Subject=Info%20Request%20-%20AITU', target='_top') Contact Us
       
    .row
      .col-sm-5.additional-links
        a(href='/legal/terms') Terms of Service               
        a(href='/legal/privacy') Privacy Policy


  script
    :coffee
      ((i, s, o, g, r, a, m) ->
        i['GoogleAnalyticsObject'] = r
        i[r] = i[r] or ->
          (i[r].q = i[r].q or []).push arguments
          return

        i[r].l = 1 * new Date
        a = s.createElement(o)
        m = s.getElementsByTagName(o)[0]
        a.async = 1
        a.src = g
        m.parentNode.insertBefore a, m
        return
      ) window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga'
      ga 'create', 'UA-49357553-1', 'auto'
      ga 'send', 'pageview'