############################
# npm
############################
node_modules
npm-debug.log

############################
# bower
############################
bower_components

############################
# tmp, editor & OS files
############################
.tmp
*.swo
*.swp
*.swn
*.swm
.DS_STORE
*#
*~
.idea
nbproject


############################
# Tests
############################
testApp
coverage


############################
# Dev exclusions
############################


############################
# Other
############################
.node_history
