housekeeping: [
  "./*/**.html"
  "./*"
  "!./_assets/*/**"
  "!./_content/*/**.jade"
  "!./_js/*/**.coffee"
  "!./_sass/*/**.sass"
  "!./bower_components/*/**"
  "./css/**/*"
  "./js/**/*"
  "!./lib/*/**"
  "!./node_modules/*/**"
  "!./*/**.gitkeep"
  "!./.gitignore"
  "!./bower.json"
  "!./config.cson"
  "!./gulpfile.coffee"
  "!./gulpfile.js"
  "!./package.json"
  "!./README.md"
]