housekeeping: [
  "./*/**.html"
  "!./_assets"
  "!./_content"
  "!./_js"
  "!./_sass"
  "!./bower_components"
  "./css/**/*"
  "./js/**/*"
  "!./lib"
  "!./node_modules"
  "!./.gitignore"
  "!./bower.json"
  "!./config.cson"
  "!./gulpfile.coffee"
  "!./gulpfile.js"
  "!./package.json"
  "!./README.md"
]