section.content.even
  h3.center Deploying Knodeo
    p 
      | Knodeo was designed to be easily deployed in your infrastructure. 
      | With Linux/Unix based servers, our automated installation process makes it a snap to deploy the base Knodeo platform.
      | We can install it on a server you provision, but Knodeo works in other 
      | deployment scenarios as well.
  .container 
    .flex.va-fit

      .va-fit.grow-1.image-abstract

        .abstract.center       
          h5 Server Appliance
          p Instead of having to provision your own server, we can provide you with a drop-in server appliance sized for your company's needs.


      .va-fit.grow-1.image-abstract
        .abstract.center 
          h5 Virtual Appliance
          p If you have a VMWare or Virtualbox environment, we can provide you with a drop-in virtual appliance.  
          p If you're using another type of virtualized environment, we can help you create a virtual 
            | server image.


      .va-fit.grow-1.image-abstract
        .abstract.center        
          h5 Cloud
          p Knodeo is easily deployed on a server in the cloud with a provider such as Amazon Web Services, Rackspace Cloud, Microsoft Azure, or Linode.
          




