section.content.odd  
  .container  
    .row
      h3 Solutions built for companies that need powerful reporting and analytics but without the huge costs required to just get a foot in the door. 
      .col-md-6
        p 
          | You're a small to midsize company but you still need business reporting and analytics to improve business processes, identify opportunities for growth and maintain your competitive advantage.  
        p
          | Enterprise, commercial-off-the-shelf software have their place, but they're designed to be everything to everyone. 
          | They make money by selling expensive software with dense feature lists that require scarce skill sets and specialized training...and that can leave your business out in the cold.         
        p
          | Midsize companies need analytic solutions that work better with busy IT staff and limited budgets. 
      .col-md-6 
        p  
          | We've designed and built Knodeo, which is a simple but powerful data warehouse, reporting and analysis framework.
          | Our framework allows you to build only what you need, with no added fluff. It's also better than building from scratch, as our stack is built from 
          | proven, open source technologies. And the best part of our solution, is that your software licenses have zero cost. Yes, you read that right. You 
          | only pay us for the services work to build what you need.
        p 
          | The true value comes from experts at Assign It To Us who use this technology to build the right solution for your corportate reporting and 
          | analytics.  There are no upfront software costs so these solutions show immediate return on investment and help your company grow. 

    .col-md-6
      .row
        h3.push-bottom-36px What is Knodeo?
        p Knodeo is an acronym for <b>Kn</b>owledge <b>O</b>n <b>D</b>emand&mdash; <b>E</b>xtensible and <b>O</b>pen. Knodeo is a comprehensive solution to your business reporting needs.
        p 
          | Knodeo is an end-to-end solution that migrates and transforms your business data into a data warehouse, and delivers insight and knowledge  
          | in the form of reports and dashboards.
        p 
          | Built on widely accepted open source 
          | technologies, Knodeo is an affordable reporting solution for businesses of all sizes. 
    .col-md-6
      .row
        h3.push-bottom-36px Why use Knodeo?
        p
          | Deploying an enterprise reporting solution often isn't as easy as you might be led to believe.
          | Commercial off-the-shelf (COTS) solutions are often a little too generic to specifically address your reporting needs, and customizing them can take longer than writing something from scratch.
        p 
          | Enterprise software companies make money by selling expensive software with dense feature lists that require  
          | scarce skill sets.
        p 
          | By using open source technologies, Knodeo lowers 
          | licensing costs and makes it easier to find skilled people to accomplish the same task.
        p 
          | Knodeo 
          | makes it easy to tailor a solution specifically for your business instead of paying full price for a 
          | commercial solution and only using 20% of its functionality.