.col-sm-3.col-sm-offset-1
  .related-articles
    h4 About 
    | You're reading official blog publication of Assign It To Us. You'll find articles on our experiences with data warehousing, analytics, reporting, project management and the latest technology tools. 
    h4 Follow Us           
    .social-btns
      a(type='application/rss+xml', href='/blog/atom.xml')
        .aitu-hardware-cast-connected
        .aitu-hardware-cast-connected
     
 
    h4 More Articles   
    a(href="/blog/archive.html") Archives  
    