.col-sm-3.col-sm-offset-1
  .related-articles
    h4 About 
    | You're reading official blog publication of Assign It To Us. You'll find articles on our experiences with data warehousing, analytics, reporting, project management and the latest technology tools. 
    h4 Follow Us           
    .social-btns
      a.social-btn-facebook.sharrre(href='https://www.facebook.com/assignittous', data-text='Make Better Business Decisions! -> Assign It To Us - http://assignittous.com', data-url='https://assignittous.com')
        .fui-facebook                      
        .fui-facebook                                    
      a.social-btn-twitter.sharrre(href='https://twitter.com/assignittous', data-text='Make Better Business Decisions! -> Assign It To Us - http://assignittous.com', data-url='https://assignittous.com')
        .fui-twitter                      
        .fui-twitter                
      a.social-btn-linkedin.sharrre(href='https://www.linkedin.com/company/assign-it-to-us', data-text='Make Better Business Decisions! -> Assign It To Us - http://assignittous.com', data-url='https://assignittous.com')
        .fui-linkedin                      
        .fui-linkedin   
      a(type='application/rss+xml', href='/blog/atom.xml')
        .aitu-hardware-cast-connected
        .aitu-hardware-cast-connected
     
 
    h4 More Articles   
    a(href="/blog/archive.html") Archives  
    