html
  head
    title Assign It To Us
    
    include ../common/template/head/_base
    include ../common/template/head/_webfonts
    


  include ../common/header_bars/_about


  body
    section.page
      include ./content/_about
      include ../common/_footer
    
    