html
  head
    title Assign It To Us
    
    include ../common/template/head/_base
    include ../common/template/head/_webfonts


  body

    section.page
      include ../common/header_bars/_aitu
      include ./content/_hero   
      include ./content/_cognos_help    
      include ./content/_features
      include ./content/_industries    
      include ./content/_cta       
      include ../common/_footer
      
    script(src='/_js/jquery-1.10.2.min.js')
    script(src='/_js/jquery.bxslider.min.js')
    script(src='/_js/jquery.scrollTo-1.4.3.1-min.js')
    script(src='/_js/jquery.sharrre.min.js')
    script(src='/_js/bootstrap.min.js')
    script(src='/_js/masonry.pkgd.min.js')
    script(src='/_js/modernizr.custom.js')
    script(src='/_js/page-transitions.js')
    script(src='/_js/easing.min.js')
    script(src='/_js/jquery.svg.js')
    script(src='/_js/jquery.svganim.js')
    script(src='/_js/jquery.backgroundvideo.min.js')
    script(src='/_js/froogaloop.min.js')
    script(src='/_js/startup-kit.js')