section.content.odd
  h3.center.push-bottom-36px Enterprise BI is hard 
  .note.steven
    p See the note in "Why User Knodeo"
    p Call this "Common Enterprise BI Pains"
    p This page seems to be missing context that can be fixed by moving back to the Knodeo main page
    p In general, the headings make sense in the context of a deck, but not in the context of a web page
  .container     
      .row
        .col-md-4
 
          h4 Pains for Stakeholders
          .note.steven.rewrite
            h4 Pains for Decision Makers
          .note.steven
            ul
              li "Stakeholders" is buzzwordy. I'd suggest "Sponsors", but that's buzzwordy too. Maybe "Buyers"?
              li Replace ampersands with "and"
          .table.icon-list
            .tr
              .td.icon icon
              .td
                h5 Costs
                .note.steven.rewrite
                  h5 High Costs
                p Current BI vendors make money selling software which is feature rich & over engineered. Licensing is complex.
                .note.steven.rewrite
                  p Enterprise business intelligence vendors make their money selling you solutions with features you don't need and require significant effort to customize to your particular business problems.
                  p Licensing fees are often complex and arbitrary, and have significant annual maintenance costs as well.
                .note.steven
                  ul
                    li change "which" to "that"
                    li check if over engineered is one word or hyphenated, not sure
                    li "Licensing is complex and often has additional hidden costs"? or something to that effect
            .tr
              .td.icon icon
              .td
                h5 Skills
                .note.steven.rewrite
                  h5 Esoteric Skill Sets
                p Specialized skills are required for content development. Skilled-up developers often move to greener pastures.
                .note.steven.rewrite
                  p The market for talent in any given enterprise business intelligence product is typically limited to the people who have had access to them. 
                  p This creates an artificial scarcity that drives up prices. When your own people are "skilled up", their market value increases, which can lead to increased turnover and high replacement costs.
                .note.steven
                  ul
                    li The paragraph text is too targeted for the likes of CCI and GSI. 
                    li Needs to be rewritten (or more specifically, clarified) as the average visitor is not going to get this point.
            .tr
              .td.icon icon
              .td
                h5 Shelfware
                .note.steven.rewrite
                  h5 Adoption
                p Most BI vendors have many embedded tools, features & options that show well during the sales cycle but are often not used after implementation.
                .note.steven.rewrite
                  p In order to satisfy a broad set of buyer checklist, many business intelligence vendors focus on feature abundance over feature excellence.
                  p More often than not, any solution you buy uses only 20% of a product's functionality, in spite of paying for 100% of a product.

                .note.steven This might benefit from one or two more sentences to explain.
        .col-md-4        
          h4 Pains for Users
          .table.icon-list
            .tr
              .td.icon icon
              .td
                h5 Inconsistent information

                p A common mistake is that users rely on the front end BI tools to define the business rules instead of a centralized information backbone.
                .note.steven.rewrite
                  h5 Multiple Versions of the Truth
                  p In spite of the "Single Version of the Truth" benefit of business intelligence solutions, the reality is that it is difficult to achieve.
                  p 
                    | Part of the problem lies with the fact that there is a lot of leeway in how a solution is implemented. 
                    | Improperly implemented solutions scatter multiple versions of the same business logic across multiple layers of the solution, eliminating any possibility that a "Single Version of the Truth" can be achieved.
                .note.steven This might benefit from one or two more sentences to explain.
            .tr
              .td.icon icon
              .td
                h5 Learn new complex tools
                p Users are forced to navigate & learn complex software. Users just want the information they need in the tools they already use.
                .note.steven.rewrite
                  h5 Complex Tools
                  p Enterprise software is notorious for being user-unfriendly. Part of the problem is that the designers and developers rarely use the software themselves.
                  p Forcing users to navigate and learn complex software costs your company money, and increases the stress levels of your team members.
                .note.steven This might benefit from one or two more sentences to explain.

            .tr
              .td.icon icon
              .td
                h5 Forced to use standard tools
                p Different users have different information needs. Out fo the box query, reporting, analytics and dashboard tools restrict the user's delivery options.
                .note.steven.rewrite
                  h5 Limited Functionality
                  p Different users have different information needs. Out of the box functionality of enterprise business intelligence tools can make or break your company's implementation.
                  p When looking for new features, users are often beholden to the release schedules and feature prioritization of their enterprise software vendors.
                .note.steven 
                  ul
                    li This might benefit from one or two more sentences to explain.
                    li Standard tools sounds like a benefit, not a pain?
        .col-md-4        
          h4 Pains for Developers
          .table.icon-list
            .tr
              .td.icon icon
              .td
                h5 Specialized knowledge required
                p IT managers and developers don't want one more complex tool to manage. 
                .note.steven.rewrite
                  h5 One More Tool
                  p Most IT departments are already busy, and adding one more tool to the mix simply adds more complexity and work.
                  p 
                    | While most enterprise solutions are built on the same underlying principles (moving data and querying databases), each has their own way of doing things.
                    | Ultimately that leads to increased training, development and maintenance costs. 
                .note.steven 
                  ul 
                    li This might benefit from one or two more sentences to explain.
                    li Put before first sentence "IT managers are already very busy with their existing duties and tasks". Change "IT managers and developers" to "They"  ??
            .tr
              .td.icon icon
              .td 
                h5 Constrains during development
                p Customizing packaged software is like stuffing a square block in a round hole.
                .note.steven.rewrite
                  h5 Workarounds to Functionality Limits
                  p 
                .note.steven This might benefit from one or two more sentences to explain.
            .tr
              .td.icon icon
              .td 
                h5 Software administration is hard 
                p BI vendors make money with version support changes and licencing. Upgrading and migrating content between versions can be difficult and time consuming.
                .note.steven This might benefit from one or two more sentences to explain.
