html
  head
    title Assign It To Us
    
    include ../common/template/head/_base
    include ../common/template/head/_webfonts


  body

    section.page
      include ../common/header_bars/_knodeo
      include ./content/_hero   
      include ./content/_what_is_knodeo
      include ./content/_benefits
      include ./content/_services
      include ./content/_delivery_options    
      include ./content/_cta       
      include ../common/_footer
