section.content.even
  h3.center.push-bottom-36px Knodeo - Insight to your information without the pain
  .container
    .row
      .col-md-4     
        h4 Relief for Stakeholders
        .note.steven Same general comments about headings and explanation text from "Enterprise BI is hard" applies to this one.
        .table.icon-list
          .tr
            .td.icon icon
            .td
              h5 Reduced costs
              p Knodeo software costs are $0.
              .note.steven 
                ul
                  li This isn't quite true.
                  li Knodeo is built on open source software. The core of Knodeo has no software costs. (consider changing the word "core" to something better)
          .tr
            .td.icon icon
            .td 
              h5 Commodity skill sets
              p Many of the technologies used already exist within most companies. Using common technology makes it easier for the business to find the needed skill sets.
              .note.steven
                ul
                  li This might benefit from one or two more sentences to explain.              
          .tr
            .td.icon icon
            .td 
              h5 Adapts to your business
              p Technologies used are open and extensible. Businesses change daily and Knodeo adapts to your business without the constraints of proprietary software.

              .note.steven
                ul
                  li This might benefit from one or two more sentences to explain.                        
      .col-md-4         
        h4 Relief for Users
        .table.icon-list
          .tr
            .td.icon icon
            .td
              h5 Trusted Information
              p Business rules are built into a common information backbone. Business definitions are goverened by the datawarehouse instead of the individual BI tools.
              .note.steven
                ul
                  li This might benefit from one or two more sentences to explain.                        
          .tr
            .td.icon icon
            .td 
              h5 Use established familiar tools
              p Users are already familiar with tools like MS Excel for reporting or MS Access for queries. Knodeo can integrate with any existing BI tool. 
              .note.steven
                ul
                  li This might benefit from one or two more sentences to explain.                        
                  li Change MS to Microsfot
          .tr
            .td.icon icon
            .td 
              h5 Customized reporting
              p Create customized reports, analytics and dashboards in the open Knodeo Launchpad. Develop apps to help with your business processes.
              .note.steven
                ul
                  li This might benefit from one or two more sentences to explain.                        
      .col-md-4        
        h4 Relief for Developers
        .table.icon-list
          .tr
            .td.icon icon
            .td
              h5 Unlimited toolsets to support business needs
              p Developers have options to select the toolsets that fit best for the required business case.
              .note.steven
                ul
                  li This might benefit from one or two more sentences to explain.                        
          .tr
            .td.icon icon
            .td 
              h5 Open Extensible architecture
              p Open architecture gives developers the freedom to implement solutions based on the user requirements and not the constraints of proprietary software.
              .note.steven
                ul
                  li This might benefit from one or two more sentences to explain.                        
          .tr
            .td.icon icon
            .td 
              h5 Automated systems
              p Tasks like installations, upgrades, data loads and report delivery can all be executed using the open Knodeo automation tools. 
              .note.steven
                ul
                  li This might benefit from one or two more sentences to explain.                        



        