section.content.even
  .container
    .row
      .col-md-12
        h2 Struggling to rein in your projects?
        p We've got something for that too.
        p In our years of running projects, we were never able to find a project management tool that was well suited to the challenges of running a consulting firm.
        p Inevitably, the software out there would get some things right, and other things horribly wrong.
        p In the end, we took matters into our own hands and rolled our own solution, Assign It To Me.
        p Assign It To Me is a web-based, mobile friendly tool that helps consulting firms like ours run projects profitably and successfully.
        p We relied on our analytics background to develop a system that gives us a snapshot of the health of our projects. We put our money where our mouth is, and we use Assign It To Me on all of our engagements.
      
        p 
          | Looking for some project relief for your business? 
          a(href="../assign_it_to_me/") Learn more about Assign It To Me.


    
    