section.header-1-sub
    #pt-main.page-transitions.pt-perspective
        .pt-page.pt-page-1 
          .background &nbsp;
          .caption
            .container
              h3 Make Smarter Business Decisions                  
              p.lead Affordable data warehousing, reporting and analytics        


