header.hero.bg-hero-aitu
  .container
    .row
      .col-xs-12.left
        h1 Make Smarter Decisions
        h3 Assign It To Us builds analytics-based software solutions that enable you to make more informed decisions.
