section.content.odd
  .container
    .row
      .col-md-12
        h2 Cognos not a fit for you?
        p We can still help.
        p Don't get us wrong, software like Cognos have their place, but they're designed to be everything to everyone, and that can leave your business out in the cold.
        p We've designed and built Knodeo, which is a simple but powerful data warehouse, reporting and analysis framework.
        p Our framework allows you to build only what you need, with no added fluff. It's also better than building from scratch, as our stack is built from proven, open source technologies.
        p And the best part of our solution, is that your software licenses have zero cost. Yes, you read that right. You only pay us for the services work to build what you need.
        p Knodeo is built for companies that need a powerful reporting solution but without the huge costs required to just get a foot in the door.
      
        p 
          | Sound interesting? 
          a(href="/knodeo") Learn more about Knodeo.
