section.content-18
  .container
    #c-18_myCarousel.carousel.slide(data-interval='600000')
      .controls
        a.carousel-control.left.disabled(href='#', data-slide='prev')|               
        a.carousel-control.right(href='#c-18_myCarousel', data-slide='next')|             
      .carousel-inner
        .item.active
          .quote-text
            | It is a capital mistake to theorize before one has data                 
          .quote-author Arthur Conan Doyle               
        .item
          .quote-text
            | An investment in knowledge pays the best interest                 
          .quote-author Benjamin Franklin               
        .item
          .quote-text
            | A good decision is based on knowledge and not the numbers               
          .quote-author Plato
