section.content-18
    .container
        #c-18_myCarousel.carousel.slide(data-interval='600000')
          .controls
            a.carousel-control.left.disabled(href='#', data-slide='prev')|               
            a.carousel-control.right(href='#c-18_myCarousel', data-slide='next')|             
          .carousel-inner
            .item.active
              .quote-text
                | Colored, stylish icons can easily be modified and used in a wide variety of projects                 
              .quote-author @stSilent, DesignModo.com               
            .item
              .quote-text
                | Colored, stylish icons can easily be modified and used in a wide variety of projects                 
              .quote-author @stSilent, DesignModo.com               
            .item
              .quote-text
                | Colored, stylish icons can easily be modified and used in a wide variety of projects                
              .quote-author @stSilent, DesignModo.com
