
section.content.odd
  .container
    .flex.va-fit
      .va-fit.grow-1.image-abstract
        .image
          img(src='../images/aitu_1.png', alt='Cognos Support', style='max-width:100%;height:auto;')
 
        .abstract
          h4 Need help with a Cognos project?
          p We'll use our extensive know-how to help you get where you need to be.
          p
            a(href="mailto:just@assignittous.com?Subject=Cognos Services Request") Contact us now.
      .va-fit.grow-1.image-abstract     
        .image
          img(src='../images/aitu_2.png', alt='Knodeo Reporting', style='max-width:100%;height:auto;')
        .abstract
          h4 Looking for a reporting solution?
          p If Cognos isn't a fit for you, we'll build you a solution using our open source stack that will save you a pile of money when compared to the other guys. 
          p
           a(href="../knodeo/") Learn more
     
     
      .va-fit.grow-1.image-abstract    
        .image
          img(src='../images/aitu_3.png', alt='Assign It To Me', style='max-width:100%;height:auto;')
        .abstract
          h4 Trying to get a grip on your project costs?
          p We've got a solution for that too. Assign It To Me, the management tool that will reduce project administration so you can focus on project success.  
          p
           a(href="../assign_it_to_me/") Learn more      