section.content-2
  .container
    .row
      .col-sm-6
        h3 Multi useful components
        |                 
        p
          | All of these components are made in the same style, and can easily be integrated into
          | projects, allowing you to create hundreds of solutions for your future projects.
        |                 
        .btns
          a.btn.btn-primary(href='#')
            span.fui-apple  
            | Buy in Appstore
          |                     
          a(href='#')
            b Learn More        
      .col-sm-5.col-sm-offset-1
        .player
          .btn.btn-primary.btn-play.fui-play
section.content.odd
  .container
    .flex.va-fit
      .va-fit.grow-1.image-abstract
        .image
          img(src='/_assets/images/aitu_1.png', alt='Cognos Support', style='max-width:100%;height:auto;')
 
        .abstract
          h4 Need help with a Cognos project?
          p We'll use our extensive know-how to help you get where you need to be.
          p
            a(href="mailto:just@assignittous.com?Subject=Cognos Services Request") Contact us now.
      .va-fit.grow-1.image-abstract     
        .image
          img(src='/_assets/images/aitu_2.png', alt='Knodeo Reporting', style='max-width:100%;height:auto;')
        .abstract
          h4 Looking for a reporting solution?
          p If Cognos isn't a fit for you, we'll build you a solution using our open source stack that will save you a pile of money when compared to the other guys. 
          p
           a(href="/knodeo/") Learn more
     
     
      .va-fit.grow-1.image-abstract    
        .image
          img(src='/_assets/images/aitu_3.png', alt='Assign It To Me', style='max-width:100%;height:auto;')
        .abstract
          h4 Trying to get a grip on your project costs?
          p We've got a solution for that too. Assign It To Me, the management tool that will reduce project administration so you can focus on project success.  
          p
           a(href="/assign_it_to_me/") Learn more  

section.content-26.bg-clouds
  .container
    .row
      .col-sm-8.col-sm-offset-2
        h3 The Second Sneak-Peek of Startup Framework
        |                 
        p.lead
          | We&rsquo;ve created the product that will help your
          | startup to look even better.       
    .row.features
      .col-sm-3
        img(src='/_assets/icons/Chat@2x.png', alt='', width='100', height='100')
        |                 
        h6 Based on Bootstrap
        |                 HTML layout is based on one of the common frameworks.            
      .col-sm-4.col-sm-offset-1
        img(src='/_assets/icons/Responsive1@2x.png', alt='', width='100', height='100')
        |                 
        h6 HTML 5, Less, CSS 3
        |                 We used checked-out technologies to give the best results.            
      .col-sm-3.col-sm-offset-1
        img(src='/_assets/icons/ps@2x.png', alt='', width='78', height='100')
        |                 
        h6 Block Mode
        |                 You can easily combine any blocks in a variety of design projects.              