header.header-10
  .container
    .row
      nav.navbar.col-sm-12(role='navigation')
        .navbar-header 
          button.navbar-toggle(type='button')                
          a.brand(href='http://www.assignittous.com')
            i.aitu-logo
            |  AssignItToUs             
        .collapse.navbar-collapse.pull-right
          ul.nav.pull-left
            li
              a.active(href='/') AITU                  
            li
              a(href='/solutions') SOLUTIONS                 
            li
              a(href='/services') SERVICES    
            li
              a(href='/blog') BLOG                                 
          ul.subnav                                 
            li
              a(href='/about') About                 
            li
              a(href='/contact') Contact Us
            li
              a(href='/legal/privacy') Privacy                  
            li
              a(href='/legal/terms') Terms                          
  .header-background


