header.header-1
  .container
    .row
      nav.navbar.col-sm-12(role='navigation')
        button.navbar-toggle(type='button') 
        .navbar-header                   
          a.brand(href='http://www.assignittous.com')
            i.aitu-logo
            |  AssignItToUs                 
        .collapse.navbar-collapse
          ul.nav.pull-right
            li
              a(href='/') AITUs                         
            li
              a(href='/knodeo') KNODEO                        
            li
              a.active(href='/assign_it_to_me') AITMe                         
            li
              a(href='#') CONTACT