header.top-bar.bg-corporate
  .container
    .row
      .col-xs-1
        a(href='/') 
          i.aitu-logo
      .col-xs-11
        nav.pull-right
          .nav-item.r
            a.active(href='/') Assign It To Us
          .nav-item.r
            a(href='/knodeo') Knodeo
          .nav-item.r
            a(href='/assign_it_to_me') Assign It To Me
            
