header.header-1
  .container
    .row
      nav.navbar.col-sm-12.navbar-fixed-top(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button')         
          a.brand(href='http://www.assignittous.com')
            i.aitu-logo
            |  AssignItToUs
        #navbar-collapse-01.collapse.navbar-collapse
          ul.nav.pull-right
            li
              a(href='/') AITU
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | SERVICES
              ul.dropdown-menu
                li
                  a(href='/knodeo') Knodeo Analytics
                li
                  a(href='/ibm_cognos') IBM Cognos
              ul.subnav
                li
                  a(href='/knodeo')  - Knodeo Analytics
                li
                  a(href='/ibm_cognos') - IBM Cognos    
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | SOLUTIONS
              ul.dropdown-menu
                li
                  a(href='/business_analytics') Business Analytics
                li
                  a(href='/project_management') Project Management
              ul.subnav
                li
                  a(href='/business_analytics')  - Business Analytics
                li
                  a(href='/project_management') - Project Management    
            li
              a(href='/blog') BLOG

          ul.subnav
            li
              a(href='/about') About
            li
              a(href='/contact') Contact Us
            li
              a(href='/legal/privacy') Privacy
            li
              a(href='/legal/terms') Terms
