header.header-3.bg-midnight-blue
    .container
        .row
          nav.navbar.col-sm-12(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button')
              a.brand(href='/')
                img(src='/_assets/icons/aitu-logo-white.png', width='50', height='50', alt='AITU Logo')
                | AssignItToUs              
            .collapse.navbar-collapse.pull-right
              ul.nav.pull-left
                li
                  a(href='/') AITU
                li
                  a.active(href='/blog') BLOG
              ul.subnav
                li
                  a(href='/blog/archive.html') Archives
