header.header-1
  .container
    .row
      nav.navbar.col-sm-12(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button')               
          a.brand(href='/')
            img(src='/_assets/images/aitu_logo.png', width='23', height='23', alt='AITU Logo')                        
        .collapse.navbar-collapse
          ul.nav.pull-right
            li
              a(href='/') HOME                  
            li
              a(href='/solutions') SOLUTIONS                 
            li
              a(href='/services') SERVICES    
            li
              a(href='/blog') BLOG                                 
          ul.subnav                                 
            li
              a(href='/about') About                 
            li
              a(href='/contact') Contact Us
            li
              a(href='/legal/privacy') Privacy                  
            li
              a(href='/legal/terms') Terms

