html
  head
    title Assign It To Us
    
    include ../common/template/head/_base.jade
    include ../common/template/head/_webfonts.jade
    


    style(type='text/css').
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}


  body
    section.page
      include ../common/header_bars/_legal.jade
      include ./content/_hero.jade
      include ./content/_terms.jade
      include ../common/_footer
    
