meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')


// html5 shiv
//if IE
  script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
// icon

link(rel='icon', href='/_assets/images/AITMFavicon16x16.ico', type='image/x-icon')
link(rel='shortcut icon', href='/_assets/images/AITMFavicon16x16.ico', type='image/x-icon')
// todo: rss alternate, repeat for each feed
link(rel='alternate', type='application/rss+xml', title='Assign It To Us » Feed', href='http://assignittous.com/feed/')
link(rel='stylesheet', href='/css/icons.css', type='text/css', media='all')  
link(rel='stylesheet', href='/css/aitu.css', type='text/css', media='all')
link(href='//cdn-images.mailchimp.com/embedcode/classic-081711.css', rel='stylesheet', type='text/css')


