




//if lt IE 9
  link#dt-old-ie-css(rel='stylesheet', href='/css/old-ie.min.css?ver=1.1.2rc1', type='text/css', media='all')


// unncessary? link#tp_twitter_plugin_css-css(rel='stylesheet', href='/recent-tweets-widget/tp_twitter_plugin.css?ver=1.0', type='text/css', media='screen')

// done
//link#go_pricing_styles-css(rel='stylesheet', href='/js/go_pricing/go_pricing_styles.css?ver=2.4.5', type='text/css', media='all')
//link#go_pricing_jqplugin-mediaelementjs-css(rel='stylesheet', href='/js/go_pricing/mediaelementplayer.min.css?ver=2.4.5', type='text/css', media='all')
//link#go_pricing_jqplugin-mediaelementjs-skin-css(rel='stylesheet', href='/js/go_pricing/mediaelementplayer.css?ver=2.4.5', type='text/css', media='all')

// done
//link(rel='stylesheet', id='dt-demostand-dt-custom-old-ie.less-css', href='/css/compiled/custom-old-ie-skin01b.css?ver=1.1.2rc1', type='text/css', media='all')
//link(rel='stylesheet', id='dt-demostand-dt-custom.less-css', href='/css/compiled/custom-skin01b.css?ver=1.1.2rc1', type='text/css', media='all')
//link(rel='stylesheet', id='dt-demostand-wc-dt-custom.less-css', href='/css/compiled/wc-dt-custom-skin01b.css?ver=1.1.2rc1', type='text/css', media='all')
//link(rel='stylesheet', id='dt-demostand-dt-media.less-css', href='/css/compiled/media-skin01b.css?ver=1.1.2rc1', type='text/css', media='all')

// done
//link#style-css(rel='stylesheet', href='/css/style.css?ver=1.1.2rc1', type='text/css', media='all')
