style(type='text/css').
  @font-face {
      font-family: "aitu";
      src: url("/_assets/fonts/Aitu-Regular.eot");
      src:
          url("/_assets/fonts/Aitu-Regular.eot?#iefix") format("embedded-opentype"),
          url("/_assets/fonts/Aitu-Regular.woff?v=1.00") format("woff"),
          url("/_assets/fonts/Aitu-Regular.svg#aituregular") format("svg"),
          url("/_assets/fonts/Aitu-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-FB02;

  }
  @font-face {
      font-family: "aitu-bold";
      src: url("/_assets/fonts/Aitu-Bold.eot");
      src: url("/_assets/fonts/Aitu-Bold.eot?#iefix") format("embedded-opentype"),
      url("/_assets/fonts/Aitu-Bold.woff?v=1.00") format("woff"),
      url("/_assets/fonts/Aitu-Bold.svg#aitubold") format("svg"),
      url("/_assets/fonts/Aitu-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-FB02;

  }