html
  head
    title Assign It To Us
    
    include ../../common/template/head/_base
    include ../../common/template/head/_webfonts
    

    style(type='text/css').
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}


  body
    section.page
      include ../../common/header_bars/_aitu
      include ./content/_hero
      include ./content/_enterprise_bi
      include ./content/_knodeo_makes_bi_easy
      include ../../common/_footer    
    