html
  head
    title Assign It To Us
    
    include ./common/template/head/_base.jade
    include ./common/template/head/_webfonts.jade
    


    style(type='text/css').
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}


  body
    section.page
      include ./common/header_bars/_aitu.jade
      include ./content/_hero.jade
      include ./content/_solutions.jade
      include ./content/_cognos.jade
      include ./content/_knodeo.jade
      include ./content/_aitm.jade
      include ./common/_footer.jade

    