html
  head
    title Assign It To Us
    
    include ../common/template/head/_base
    include ../common/template/head/_webfonts
    


    style(type='text/css').
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}


  body
    section.page
      include ../common/header_bars/_legal
      include ./content/_hero
      include ./content/_contact
      include ../common/_footer
    
    