section.content.even
  h3.push-bottom-36px Knodeo Benefits
  .container   

    .row
      .table.image-list
        .tr
          .td.image
            img(src='/_assets/images/knodeo1.png', alt='Knodeo Data Hub', style='width:250px;height:auto;padding-right: 20px')          
         
          .td.body
            h5 A Home For Your Data
            p 
              | The heart of any good reporting system is the data. The old saying "garbage in, garbage out" 
              | is particularly important when you are trying to analyze your data.
            p 
              | Knodeo 
              | provides a centralized home for 
              | your data in the form of a Data Warehouse. It doesn't matter whether your data is in a database, flat file or in the cloud. Knodeo can get it.
            p Beyond giving your data a home, Knodeo's tools move, clean and transform the data so that any analysis performed on it is accurate and actionable.             
        .tr
          .td.image
            img(src='/_assets/images/knodeo2.png', alt='Knodeo Savings', style='width:250px;height:auto;padding-right: 20px')             
          .td.body
            h5 Big Savings
            p The Knodeo core software itself is free. That includes the data migration tools, database server, server OS and web portal. You can have as many servers, users, CPUs and environments as you'd like without ever paying extra for Knodeo licenses. Compare that to other solutions, which have arcane licensing schemes with annual maintenance charges. 
            p Simply put, you only pay for the development of your data warehouse, reports and dashboards. 
            p 
              | Since Knodeo is extensible and open, 
              | add-on components are also available for purchase (or for free) by Assign It To Us or Knodeo partners. You can even develop your own add-on component 
              | and sell it.


        .tr
          .td.image
            img(src='/_assets/images/knodeo3.png', alt='Knodeo Insight', style='width:250px;height:auto;padding-right: 20px')              
          .td.body  
            h5 Insight and Analysis
            p Data is not information, and information is not insight. Your data needs to take several transformative steps before it is truly useful.
            p 
              | Baked into the Knodeo development process is taking the time to understand your business data and user requirements so that 
              | your business logic is already in the data warehouse, 
              | ready to be analyzed in the form of reports and dashboards. 
        .tr
          .td.image
            img(src='/_assets/images/knodeo4.png', alt='Knodeo Toolbox', style='width:250px;height:auto;padding-right: 20px')          
          .td.body       
            h5 A Toolbox, Not A Tool
            p When you've only got a hammer, everything looks like a nail. When you've spent a lot of money on a name-brand reporting solution, every information request quickly starts to look like a nail.
            p We've seen it happen many times&mdash; you've spent a lot of money on a tool, and your team only knows one tool, so you use that tool to solve every problem, even when it's not the best tool for the job.
            
            p 
              | Knodeo is a toolbox, not a tool. You aren't limited to using Knodeo tools in that toolbox.
              | You can use any existing data-capable products your company might already have. And because the core Knodeo platform is free, your decisions on what tools to use to solve a business problem aren't influenced by a sunk cost.
            p So whether you do everything in the Knodeo web portal, or mix and match with tools like Cognos, Tableau or Excel, it's your choice.
