section.content-13.subscribe-form.bg-turquoise
  .container
    .row
      form
        .col-sm-8
          h3 Start making better business decisions              
        .col-sm-4
          a.button.btn.btn-large.btn-primary(href="mailto:just@assignittous.com?Subject=Knodeo Demo Request")
            | Request a Demo