section.content-21.bg-midnight-blue
    .container
        h3 Knodeo Tools
        |         
        .row
          .col-sm-10.col-sm-offset-1
            .features.features-tabs
              .features-header
                .box.active
                  .fui-cmd
                  | KNODEO WORKSHOP                        
                .box
                  .fui-mic
                  | KNODEO OXI                         
                .box
                  .fui-user
                  | KNODEO REPORTS                    
                .box
                  .fui-user
                  | KNODEO COURIER  
              .features-bodies
                .features-body.active
                  h6 Knodeo Workshop                            
                  p
                    | Manage, track and apply changes to the data model.
                  p
                    | Move and integrate data into the analytics database. Clean, agregate and apply business rules
                    | to support the business analytics and reporting requirements.                            
                  p
                    | Integrate data from any data source including popular cloud services with public APIs.                         
                .features-body
                  h6 OXI                            
                  p
                    | With this UI Kit, you can spend even less time on routine work, saving that time for
                    | creativity.                            
                  p
                    | We have considered your needs in developing the html version of our UI Kit,
                    | which contains the same elements as the PSD version and are perfect for creating great
                    | websites.                        
                .features-body
                  h6 Reports                            
                  p
                    | We have considered your needs in developing the html version of our UI Kit,
                    | which contains the same elements as the PSD version and are perfect for creating great
                    | websites.                           
                  p
                    | With this UI Kit, you can spend even less time on routine work, saving that time for
                    | creativity.
                .features-body
                  h6 COURIER                            
                  p
                    | We have considered your needs in developing the html version of our UI Kit,
                    | which contains the same elements as the PSD version and are perfect for creating great
                    | websites.                           
                  p
                    | With this UI Kit, you can spend even less time on routine work, saving that time for
                    | creativity.