section.content-21.bg-midnight-blue
    .container
        h3 Knodeo Tools
        |         
        .row
          .col-sm-10.col-sm-offset-1
            .features.features-tabs
              .features-header
                .box.active
                  .fui-cmd
                  | KNODEO WORKSHOP                        
                .box
                  .fui-mic
                  | KNODEO OXI                         
                .box
                  .fui-user
                  | KNODEO REPORTS                    
                .box
                  .fui-user
                  | KNODEO COURIER  
              .features-bodies
                .features-body.active
                  h6 Knodeo Workshop                            
                  p
                    | Manage, track and apply changes to the data model.
                  p
                    | Move and integrate data into the analytics database. Clean, aggregate and apply business rules
                    | to support the business analytics and reporting requirements.                            
                  p
                    | Integrate data from any data source including popular cloud services with public APIs.                         
                .features-body
                  h6 MS Office XML Injection                            
                  p
                    | Populate styled Word, Excel and Powerpoint documents from the analytics database.
                  p                  
                    | Data is injected directly into the office document.  There are no refresh issues that are usually experienced with linked sheets or data. 
                  p
                    | Users design their simple static reports and dashboards that can be shared on Offices 365 for web.  
                    | OXI created documents can be sent to mobile devices or any other platform that can open an office document.                       
                .features-body
                  h6 Knodeo Launchpad                            
                  p
                    | Web based HTML and PDF reports accessed from one central location.      
                  p
                    | Access pre-defined static or dynamic report pages.
                  p
                    | Create custom applications for your business processes.  Build business tools designed for what the organization needs and how proceeses are defined. 
                .features-body
                  h6 Information Delivery                            
                  p
                    | Deliver information in the format that users need. Automate delivery of reports and data to any device.
                  ul
                    li
                      | Email
                     li
                      | FTP/SFTP                     
                     li
                      | Slack Integration
                     li
                      | Network and File share                     
                     li
                      | Sent to Dropbox, Google Drive, Box.net                       