header.hero.bg-hero-rodeo
  .container
    .row
      .col-xs-12
        div
          h1 Make Smarter Business Decisions
        div
          h3 Knodeo is affordable data warehousing, reporting and analytics for all companies.





