section.content.odd
  h3.push-bottom-36px Building Your Solution
  .container    
    .row      
          
      .col-md-6
        div 
          h4 Delivering Business Results for Less

          p With Knodeo, the difference is that the software is not part of the cost equation. With other commercial reporting solutions, you've spent tens or even hundreds of thousands of dollars on software licensed before you've even spent a dime on services.
          p Knodeo allows you to bypass the software costs and divert that money towards building your ideal reporting solution.      
        div(style='padding-top:40px')    
          h5 AITU Agile Development
          .image
            img(src='/_assets/images/sprint.png', alt='Knodeo Reporting', style='max-width:100%;height:auto;')         
      .col-md-6
        .table.icon-list
          .tr
            .td.icon
              i.aitu-logo
            .td
              h5 Knowledge and Insight
              p Knowledge and insight don't grow on trees. It takes years of experience working in different industries, building a variety of solutions, and truly listening to your business users.
              p Our consultants have delivered and managed successful data warehouse and reporting projects for businesses of all sizes in a number of industries.

          .tr
            .td.icon
              i.aitu-logo
            .td
                h5 Project Management
                p We've deployed reporting solutions for years, and we've gotten pretty good at it. 
                p To ensure that projects run smoothly, we have a balanced approach towards projects&mdash; we took the best parts of agile development and combined them with traditional approaches. This allows us to iterate quickly without losing sight of key deadlines and milestones.
                p To support our customer projects, we've even written our own project management software, <a href="../assign_it_to_me/">Assign It To Me</a>.   
          .tr
            .td.icon
              i.aitu-logo
            .td
                h5 Training and Support
                p Unlike other reporting solutions, there's nothing proprietary about the Knodeo platform. 
                  | The core skillset of Knodeo development&mdash; SQL, Javascript, CSS and HTML are easy to find and learn. Most web developers have these skills, and you don't have to pay artifically inflated prices for a proprietary skillset.
                p If you'd like to take on Knodeo development yourself, we can provide training catered to your team members' skill levels in the context of your business data.
