section.content-15.v-center
  div
    .container
      .row
        h3.col-sm-10.col-sm-offset-1
          | Solutions built for companies that need powerful reporting and analytics but without the huge costs required just to get a foot in the door.            
      .row
        .col-sm-6
          p 
            | You're a small to midsize company but you still need business reporting and analytics to improve business processes, identify opportunities for growth and maintain your competitive advantage.  
          p
            | Enterprise, commercial-off-the-shelf software have their place, but they're designed to be everything to everyone. 
            | They make money by selling expensive software with dense feature lists that require scarce skill sets and specialized training...and that can leave your business out in the cold.         
          p
            | Midsize companies need analytic solutions that work better with busy IT staff and limited budgets.              
        .col-sm-6
          p  
            | We've designed and built Knodeo, which is a simple but powerful analytics database, reporting and analysis framework.
            | Our framework allows you to build only what you need, with no added fluff. It's also better than building from scratch, as our stack is built from 
            | proven, open source technologies. And the best part of our solution, is that your software licenses have zero cost. Yes, you read that right. You 
            | only pay us for the services work to build what you need.
          p 
            | The true value comes from experts at Assign It To Us who use this technology to build the right solution for your corportate reporting and 
            | analytics.  There are no upfront software costs so these solutions show immediate return on investment and help your company grow. 
