section.content.odd  
  .container     
    .col-md-6
      .row
        h3.push-bottom-36px What is Knodeo?
        p Knodeo is an acronym for <b>Kn</b>owledge <b>O</b>n <b>D</b>emand&mdash; <b>E</b>xtensible and <b>O</b>pen. Knodeo is a comprehensive solution to your business reporting needs.
        p 
          | Knodeo is an end-to-end solution that migrates and transforms your business data into a data warehouse, and delivers insight and knowledge  
          | in the form of reports and dashboards.
        p 
          | Built on widely accepted open source 
          | technologies, Knodeo is an affordable reporting solution for businesses of all sizes. 
    .col-md-6
      .row
        h3.push-bottom-36px Why use Knodeo?
        p
          | Deploying an enterprise reporting solution often isn't as easy as you might be led to believe.
          | Commercial off-the-shelf (COTS) solutions are often a little too generic to specifically address your reporting needs, and customizing them can take longer than writing something from scratch.
        p 
          | Enterprise software companies make money by selling expensive software with dense feature lists that require  
          | scarce skill sets.
        p 
          | By using open source technologies, Knodeo lowers 
          | licensing costs and makes it easier to find skilled people to accomplish the same task.
        p 
          | Knodeo 
          | makes it easy to tailor a solution specifically for your business instead of paying full price for a 
          | commercial solution and only using 20% of its functionality.