html.no-js(lang='en-US')
  head
    title Assign It To Us
    
    include ../common/template/head/_base
    include ../common/template/head/_webfonts



    style(type='text/css').
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}


  body

    section.page
      include ../common/header_bars/_aitm
      include ./content/_hero
      include ./content/_contact
      include ./content/_what_is
      include ./content/_benefits    
      include ../common/_footer

