section.content.even 
  .container
    .row    
      .col-md-6
        .row
          h3.push-bottom-36px Stuck in the weeds?
          p Unlike our competition, we are fully aware that project management is more complicated than a to-do list or a wall of comments.
          p 
            | If you don't know where your projects are at, you lose control. And when you lose control, you start losing money. 
          p 
            | We've been there, and Assign It To Me is designed to provide you with live project health information so that you can adapt, adjust and catch problems before they spin out of control.
  
      .col-md-6
        .row
          h3.push-bottom-36px Team too "busy" for updates?
          p
            | Let's face facts. Your team members are either too busy or too lazy to bother with administrivia.
          p 
            | Whether it's about timesheets or status updates, getting information out of your team members can be like pulling teeth..
          p 
            | We feel your pain. Assign It To Me makes mundane administrivia as simple as possible so that there are no excuses.

    .row    
      .col-md-6
        .row
          h3.push-bottom-36px Status reports getting you down?
          p Nobody likes doing status reports or meetings.
          p 
            | While they may not be completely avoidable, Assign It To Me gives project managers an up-to-the-minute view not only of their projects, but of what their team members are working on.
          p 
            | This allows project managers to focus conversations on what needs to be done, instead of what has been done.
  
      .col-md-6
        .row
          h3.push-bottom-36px Sick of scope creep?
          p
            | Scope changes are as inevitable as death and taxes, and are the leading cause of projects going off the rails.
          p 
            | Assign It To Me makes it easy for project managers to track scope changes and their impact to the overall health of a project.
          p 
            | While Assign It To Me can't eliminate scope creep, it arms project managers with facts about where scope is coming from so that they can be addressed with customers.
    .row    
      .col-md-6
        .row
          h3.push-bottom-36px Lost in a forest of apps?
          p There are plenty of apps for project management, issue tracking and time keeping.
          p 
            | The problem is that it is hard to keep all that information linked together in a meaningful way without a lot of extra work. 
          p 
            | Assign It To Me is a one-stop-shop for your project management data. All time is linked to specific project tasks, which gives you one version of the truth.
          p 
            | Your time is better spent running your projects, not figuring out how to stitch data from multiple apps together.
  
      .col-md-6
        .row
          h3.push-bottom-36px IT department slowing you down?
          p
            | Buying in-house software requires a lot of planning, capital costs and people time.
          p 
            | Assign It To Me's in-the-cloud infrastructure takes all of those headaches away from you. Software updates are instant and invisible to the user.
          p 
            | The only software you and your team needs is a modern browser. How much easier can it get? 