section.content.even
  div.center
    h2 Assign It To Me is Coming soon! 
    p
      input(type='checkbox', checked='')
      |  Task 1 - Subscribe by sending us your email
    #mc_embed_signup(style='background:#ecf0f1; clear:left; font:14px;width: 50%;margin: 0 auto;')
      form#mc-embedded-subscribe-form.validate(action='//assignittome.us4.list-manage.com/subscribe/post?u=7d447ea507f165df12ee75401&id=f8a0474229', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        #mc_embed_signup_scroll.center
          .mc-field-group
            input#mce-EMAIL.required.email(type='email', value='', placeholder='Email Address', name='EMAIL')
          #mce-responses.clear
            #mce-error-response.response(style='display:none')
            #mce-success-response.response(style='display:none')
          div(style='position: absolute; left: -5000px;')
            input(type='text', name='b_7d447ea507f165df12ee75401_f8a0474229', tabindex='-1', value='') 
          .clear
            input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
    p  
      input(type='checkbox',)
      |  Task 2 - Get notified on the day of the launch 
    p  
      input(type='checkbox',)
      |  Task 3 - Start managing successful projects

